*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightpink;
}

.box-container{
    display: flex;
    width:500px;
    height: 80vh;
    margin: 70px 70px;
    text-align: center;
    left:530px;
    backdrop-filter: blur(160px);
}
.logo{
    justify-content: center;
    align-items: center;
    padding-left: 10px;  
    bottom: 60px; 
}
.loginpage{
    margin-left: 80px;
}
.head{
    text-align: center;
}
.submit{
    width:70px;
    height:20px;
    cursor: pointer;

}
.for{
    text-align: center;
}
.clear{
    width:70px;
    height:20px;
    cursor: pointer;
}
